<section class="find-more">
  <div class="find-more__container">
    <div class="find-more__container-header">
      <div class="find-more__container-header-text">
        <p class="label--top find-more__label">
          See tips and trick from our partnership
        </p>
        <h2 class="heading-2 find-more__title">
          Find out more about selling and <br />
          buying homes
        </h2>
        <button
          class="find-more__container-header-button btn btn--filled btn--base"
        >
          More Articles
        </button>
      </div>
    </div>

    <div class="find-more__container-content">
      <!-- Left Content -->
      <div class="find-more__container-content-left"></div>

      <!-- Right Content -->
      <div class="find-more__container-content-right"></div>
    </div>
  </div>
</section>
