<footer class="footer">
  <img
    src="./assets/images/vector-3.png"
    alt="footer background"
    class="footer__background-1"
  />
  <img
    src="./assets/images/vector-4.png"
    alt="footer background"
    class="footer__background-2"
  />
  <div class="footer__content">
    <div class="footer__brand">
      <div class="footer__logo">
        <img
          alt="logo-hounter"
          aria-label="logo"
          src="./assets/icons/logo.svg"
        />
      </div>
      <p class="footer__description">
        We provide information about properties such as houses, villas and
        apartments to help people find their dream home
      </p>
      <div class="footer__socials">
        <a href="#" class="footer__social-link" aria-label="Facebook">
          <img src="./assets/icons/socials/FB.svg" alt="Facebook" />
        </a>
        <a href="#" class="footer__social-link" aria-label="Twitter">
          <img src="./assets/icons/socials/TW.svg" alt="Twitter" />
        </a>
        <a href="#" class="footer__social-link" aria-label="Pinterest">
          <img src="./assets/icons/socials/PI.svg" alt="Pinterest" />
        </a>
      </div>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">Property</h3>
      <nav class="footer__nav">
        <a href="#" class="footer__link">House</a>
        <a href="#" class="footer__link">Apartment</a>
        <a href="#" class="footer__link">Villa</a>
      </nav>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">Article</h3>
      <nav class="footer__nav">
        <a href="#" class="footer__link">New Article</a>
        <a href="#" class="footer__link">Popular Article</a>
        <a href="#" class="footer__link">Most Read</a>
        <a href="#" class="footer__link">Tips & Tricks</a>
      </nav>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">Contact</h3>
      <div class="footer__contact">
        <p class="footer__contact-item">
          2464 Royal Ln. Mesa, New Jersey 45463
        </p>
        <p class="footer__contact-item">(671) 555-0110</p>
        <p class="footer__contact-item">info@hounter.com</p>
      </div>
    </div>
  </div>

  <div class="footer__cookie-banner" id="cookie-banner" aria-hidden="true">
    <div class="footer__cookie-content">
      <img
        src="./assets/icons/shapes/cookie.svg"
        alt="Cookie"
        class="footer__cookie-icon"
      />
      <span class="footer__cookie-text">We are using cookies</span>
    </div>
    <button
      class="footer__cookie-close"
      id="cookie-close"
      aria-label="Cerrar banner de cookies"
    >
      <img src="./assets/icons/cross.svg" alt="Cerrar" />
    </button>
  </div>
</footer>
