<section class="hero">
  <div class="hero-left">
    <img
      class="hero-left__blur-bg--1"
      src="./assets/images/Vector.png"
      alt="Blur background for decoration"
    />

    <div class="hero-left__cta">
      <h1 class="heading-1">
        <span class="line">Find The Place To</span>
        <span class="line">
          Live <span class="highlight"> Your Dreams </span>
        </span>
        <span class="line">Easily Here</span>
      </h1>
      <p class="body-text">
        Everything you need about finding your place to live will be here, where
        it will be easier for you
      </p>

      <div class="search-bar">
        <span class="search-bar__icon"></span>
        <input
          type="text"
          class="search-bar__input"
          placeholder="Search for the location you want!"
        />
        <button class="btn btn--filled btn--base btn--chevron-right">
          Search
        </button>
      </div>

      <p class="body-text">Our Partnership</p>

      <div class="hero-left__partnership">
        <img
          class="hero-left__partnership-img"
          src="./assets/images/partnership/traveloka.svg"
          alt="Traveloka Logo"
        />
        <img
          class="hero-left__partnership-img"
          src="./assets/images/partnership/tiket.svg"
          alt="Ticket.com logo"
        />
        <img
          class="hero-left__partnership-img"
          src="./assets/images/partnership/airbnb.svg"
          alt="Airbnb Logo"
        />
        <img
          class="hero-left__partnership-img"
          src="./assets/images/partnership/tripadvisor.svg"
          alt="Tripadvisor Logo"
        />
      </div>
    </div>
  </div>
  <div class="hero-right">
    <img class="main-img" src="./assets/images/banner.png" alt="Banner" />
    <div class="coordinates-wrapper">
      <img
        src="./assets/images/over-banner.svg"
        alt="House overlay"
        class="aux"
      />
    </div>

    <div class="card-container">
      <marquee
        class="card-container__marquee"
        behavior="scroll"
        direction="right"
      >
        <div class="card">
          <div class="card-avatar-group">
            <img
              src="./assets/images/avatar/av1.jpg"
              alt="Avatar image"
              class="card-img"
            />

            <img
              src="./assets/images/avatar/av2.jpg"
              alt="Avatar image"
              class="card-img"
            />

            <img
              src="./assets/images/avatar/av3.jpg"
              alt="Avatar image"
              class="card-img"
            />
          </div>
          <div class="card-text-wrapper">
            <p class="card-text body-text--semibold">1K+ People</p>
            <p class="card-text label--small">Successfully Getting Home</p>
          </div>
        </div>

        <div class="card">
          <div class="card-avatar">
            <img
              src="./assets/images/avatar/av4.png"
              alt="Avatar image"
              class="card-img"
            />
          </div>
          <div class="card-text-wrapper">
            <p class="card-text body-text--semibold">56 Houses</p>
            <p class="card-text label--small">Sold Monthly</p>
          </div>
        </div>

        <div class="card">
          <div class="card-avatar">
            <img
              src="./assets/images/avatar/av5.jpg"
              alt="Avatar image"
              class="card-img"
            />
          </div>
          <div class="card-text-wrapper">
            <p class="card-text body-text--semibold">4K+</p>
            <p class="card-text label--small">People Looking for New Homes</p>
          </div>
        </div>
      </marquee>
    </div>
  </div>
</section>
