<section class="suscribe">
  <div class="suscribe__container">
    <img
      src="../assets/images/suscribe/1.jpg"
      alt="Avatar 1"
      class="suscribe__container-img--1"
    />
    <img
      src="../assets/images/avatar/av7.jpg"
      alt="Avatar 2"
      class="suscribe__container-img--2"
    />
    <img
      src="../assets/images/avatar/av3.jpg"
      alt="Avatar 3"
      class="suscribe__container-img--3"
    />

    <img
      src="../assets/images/suscribe/2.jpg"
      alt="Avatar 4"
      class="suscribe__container-img--4"
    />
    <img
      src="../assets/images/suscribe/3.jpg"
      alt="Avatar 5"
      class="suscribe__container-img--5"
    />
    <img
      src="../assets/images/suscribe/4.jpg"
      alt="Avatar 6"
      class="suscribe__container-img--6"
    />
    <img
      src="../assets/images/suscribe/5.jpg"
      alt="Avatar 7"
      class="suscribe__container-img--7"
    />
    <img
      src="../assets/images/suscribe/6.jpg"
      alt="Avatar 8"
      class="suscribe__container-img--8"
    />
    <img src="" alt="" class="suscribe__container-img--4" />
    <div class="suscribe__container-content">
      <h2 class="heading-2">
        Subscribe For More Info <br />
        and update from Hounter
      </h2>
      <div class="search-bar suscribe__search-bar">
        <span class="search-bar__icon suscribe__search-bar-icon"></span>
        <input
          type="text"
          class="search-bar__input"
          placeholder="Your email here"
        />
        <button class="btn btn--filled btn--base">Suscribe now</button>
      </div>
    </div>
  </div>
</section>
