<section class="tour">
  <div class="tour__container--left">
    <div class="tour__header">
      <div class="tour__header-text">
        <p class="label--medium tour__recommendation">Ready to Sell!</p>
        <h2 class="heading-2 tour__title">Let’s tour and see our house!</h2>
      </div>
      <div class="tour__header-description">
        <p class="body-text tour__description">
          Houses recommended by our partners that have been curated to become
          the home of your dreams!
        </p>
      </div>
    </div>
    <p class="body-text--semibold tour__details-title">House Detail</p>
    <div class="tour__details">
      <div class="tour__details-item">
        <img src="./assets/icons/shapes/bed.svg" alt="Bed icon" />
        <p class="body-text--medium">4 Bedrooms</p>
      </div>
      <div class="tour__details-item">
        <img src="./assets/icons/shapes/bath.svg" alt="Bath icon" />
        <p class="body-text--medium">2 Bathrooms</p>
      </div>
      <div class="tour__details-item">
        <img src="./assets/icons/shapes/car.svg" alt="Carport icon" />
        <p class="body-text--medium">1 Carport</p>
      </div>
      <div class="tour__details-item">
        <img src="./assets/icons/shapes/stairs.svg" alt="Floor icon" />
        <p class="body-text--medium">2 Floors</p>
      </div>
    </div>
    <hr />
    <div class="tour__cta">
      <div class="property-card__agent tour__agent">
        <img
          src="./assets/images/avatar/av6.jpg"
          alt="Diane Russell avatar"
          class="property-card__agent-avatar tour__agent-avatar"
        />
        <div class="property-card__agent-info tour__agent-info">
          <p class="property-card__agent-name tour__agent-name">
            Diane Russell
          </p>
          <p class="property-card__agent-location tour__agent-location">
            Manchester, Kentucky
          </p>
        </div>
      </div>
      <button class="btn btn--filled btn--base btn--with-icon">
        <img src="./assets/icons/shapes/call.svg" alt="Phone icon" />
        Contact Now
      </button>
    </div>
  </div>
  <div class="tour__container--right">
    <div class="tour__container--right-images">
      <img
        src="./assets/images/vector-2.png"
        alt="Vector 2"
        class="tour__container--right-images-vector"
      />
      <img
        class="tour__container--right-images-item tour__container--right-images-item--1"
        src="./assets/images/tour/house.png"
        alt="Big house image"
      />
      <img
        class="tour__container--right-images-item tour__container--right-images-item--2"
        src="./assets/images/tour/sofa.jpg"
        alt="Couch image"
      />
      <img
        class="tour__container--right-images-item tour__container--right-images-item--3"
        src="./assets/images/tour/couch.jpg"
        alt="Sofa image"
      />
      <img
        class="tour__container--right-images-item tour__container--right-images-item--4"
        src="./assets/images/tour/wall.jpg"
        alt="Wall image"
      />
    </div>
  </div>
</section>
